<!doctype html>
<html lang="en">
<!-- A Intro to Coding for Journalists class project -->
<head>
  <title>{% block page_title %}100 GECS{% endblock %}</title>
  <meta name="description" content="{% block page_description %}Default description{% endblock %}">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/_nav.css">
    <link rel="stylesheet" href="css/_jumbotron.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<div class="justify-content-center">

  {% block content %}{% endblock %}

  {% include "_partials/nav.njk" %}

  {% include "_partials/footer.njk" %}

  <script src="js/jquery.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/scripts.js"></script>
</div>
</body>
</html>

