{% extends '_layouts/detail.njk' %}
{% set book = data.books[1] %}

{% block info %}
  <img src="img/gecs.jpg" alt="placeholder image" class="img-fluid">
  <h5>{{ book.author }}</h5>
{% endblock %}

{% block story %}
  <h2>{{ book.title }}</h2>
  <p>{{ book.img}}</p>
{% endblock %}
