{% extends '_layouts/base.njk' %}

{% block page_title %}New index page title{% endblock %}

{% block content %}
{% include "_partials/jumbotron.njk" %}
<div class="container">
<div class='introtext'>
       <p>
        100 Gecs is an American experimental musical duo consisting of Dylan Brady and Laura Les. The two of them both grew up in suburban St. Louis and were involved in the city's electronic music scene. They met at a party in 2012. Brady lives in downtown Los Angeles and Les is based in Chicago.</p>
        <p>
        The duo work on tracks by sending Logic Pro project files back and forth, iterating on the songs each time. Their music has been called an "anarchic assault on the ears" that "[pulls] conventional pop tropes in every direction possible" and "abrasive, maximalist pop" with "elements of pop punk, nightcore, ska, dubstep, deconstructed club, trance, metal, and happy hardcore all thrown into one big internet blender", resulting in "[s]ongs [that] shift gears dozens of times, in a way that recalls... Kid606, or Venetian Snares", also earning comparisons with label PC Music and band Sleigh Bells. </p>
        <p>
        In the winter of 2015, Les and Brady first produced music together, recording in Chicago[6] and eventually self-releasing their first EP 100 Gecs in July 2016. Despite plans to record more music, they were unable to find enough time until they performed a DJ set together for the 2019 Minecraft Fire Festival; following that collaboration, they continued to work on songs and released their debut album 1000 Gecs in May to positive reviews. In September 2019, it was announced that 100 Gecs and slowthai would support BROCKHAMPTON on their Heaven Belongs to You Tour later that year; 100 Gecs will also headline six additional shows of their own in various cities along the tour.
        </p>
        <p>
        Source: <a href="https://en.wikipedia.org/wiki/100_Gecs">Wikipedia</a> 
      </p>
  </div>
    {% include "_partials/mediaobject.njk" %}
    {% include "_partials/namecards.njk" %}
</div>
{% endblock %}



