{# table then start loop then call info #}
{% extends '_layouts/base.njk' %}
{% block content %}
<div class="tour text-center">

<p>10/26 - Vancouver, CA - PNE Forum</p>
<p>10/27 - Seattle, WA - WAMU Theate</p>
<p>10/28 - Portland, OR - Holocene</p>
<p>10/30 - Salt Lake City, UT - The Union Event Center</p>
<p>11/01 - Phoenix, AZ - Van Buren</p>
<p>10/26 - Vancouver, CA - PNE Forum</p>
<p>10/26 - Vancouver, CA - PNE Forum</p>
<p>10/26 - Vancouver, CA - PNE Forum</p>
<p>10/26 - Vancouver, CA - PNE Forum</p>
<p>10/26 - Vancouver, CA - PNE Forum</p>
<p>10/26 - Vancouver, CA - PNE Forum</p>
<p>10/26 - Vancouver, CA - PNE Forum</p>

</div>

{% endblock %}