
<div class="jumbotron display-center jumbotron-fluid" style="text-align:center; background-image: url(img/gecs01.png);" id="jumbo2">
  <div class="container text-center">
    <h1 class="display-2 text-center">MEET THE BAND</h1>
    {# <img class="img-fluid image" src="img/gecs01.png" alt="Card image cap"> #}
  </div>
</div>
