<div class="jumbotron display-center jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-2 text-center">100 GECS</h1>
    <img class="img-fluid image mx-auto" src="img/gecs.jpg" alt="Card image cap">
  </div>
</div>
