
<div class="jumbotron display-center jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4 display-center">100 GECS</h1>
    <img class="img-fluid" src="img/gecs01.png" alt="Card image cap">
  </div>
</div>
