 <div class="row">
       {% for disc in data.discography %}
          <div class="col-lg-3 col-6 text-center albums">
          <div id="objecttborder">
          <a  href="https://open.spotify.com/artist/6PfSUFtkMVoDkx4MQkzOi3?si=i2ZV8bX-TU6wanQ_0EI-dQ">
          <img class="img-fluid" src="img/{{ disc.image }}" alt="album">
          </a>
           </div>
          <h3>{{ disc.title }}</h3>
          <h4>{{ disc.year}}</h4>

          </div>
        {% endfor %}
  </div>