<div class="row">
  {% for member in data.members %}
  <div class="col">
    <div class="card text-center">
      <img class="card-img center cardimage" src="img/{{member.image}}" alt="Card image cap">
       <div class="card-body text-center">
       <a href="{{ member.slug }}.html" class="card-title">{{member.name}}</a>
       <p class="card-text">{{member.name}}<br>{{member.name}}<br>{{member.name}}</p>
       </div>
    </div>
  </div>
  {% endfor %}
</div>