<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="index.html"> HOME</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="laura.html">LAURA    </a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="dylan.html">DYLAN   </a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="tour.html">TOUR </a>
  </li>
</ul>

