  <link rel="stylesheet" href="css/_nav.css">
<div class="contianer justify-content-middle">
<ul class="nav justify-content-middle">
  <li class="nav-item">
    <a class="nav-link" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Dylan</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Laura</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="#">Tour</a>
  </li>
</ul>
</div>

