/* jumbotron */

@import url('https://fonts.googleapis.com/css?family=Faster+One|Libre+Barcode+39|Roboto|Sarpanch:700&display=swap');

.jumbotron {
  background-color: black;
  // border-color: rgb(240, 109, 131);
  border-width: 20px;
  border-color: rgb(240, 109, 131);
  // max-height: 100px;
  // max-width: 100%;
}

.jumbotron h1 {
  // max-width: 100%;
  // max-height: 80px;
  font-size: 80px;
  color:yellow;
  font-family: 'Faster One', cursive;
  // border-color: rgb(240, 109, 131);
}

.jimg {
  max-height: 80%;
}

@media (min-width: 576px) {  

.introtext {
  margin-top: -200px;
}
 
}