/* mediaobject */

@import url('https://fonts.googleapis.com/css?family=Faster+One|Libre+Barcode+39|Roboto|Sarpanch:700&display=swap');

#objecttborder {
  background-color: black;
  // border-color: rgb(240, 109, 131);
  // border-width: 10px;
  border-color: yellow;
  margin-top: 100px;
}


