/* card */
@import url('https://fonts.googleapis.com/css?family=Faster+One|Roboto&display=swap');


.card {
  font-family: 'Roboto Mono', monospace;
  border-color: rgb(240, 109, 131);
  border-radius: 8px;
  border-width: 2px;
  text-align: center;
  background-color: black;
  max-width: 300px;
  max-height: 500px;
  margin-top: 30px;
  margin-bottom: 10px;

  left: 50%;
  transform: translatex(-50%);
}
.card-title {
  font-family: 'Sarpanch', sans-serif;
  font-size: 16px;
  color: lightblue;
}

.card-title a:hover {
  color: rgb(240, 109, 131);
}

.cardimage
{
  border: 0px solid black;
}



