/* nav */

.nav {
  margin-top: 20px;
  margin-bottom: 20px;
  // margin-left: -50px;
  // margin-right: -50px;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.nav-link {
  color: rgb(240, 109, 131);
  display: inline;
}

@media (max-width: 768px) { 
  .nav li {
    float: none;
    display: inline-block;
    width: 24%;
  }
  .nav {
    margin-top: 20px;
    margin-bottom: 60px;
  }
 }

   // left: 50%;
  // transform: translatex(-50%);