@import url('https://fonts.googleapis.com/css?family=Faster+One|Libre+Barcode+39|Roboto|Sarpanch:700&display=swap');

.table {
  color: lightblue;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  margin-top: 20px;
}
