// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

@import "https://fonts.googleapis.com/css?family=Faster+One|Open+Sans&display=swap";

/* bootstrap */
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";



// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins"; 

// Import partials
@import "nav";
@import "jumbotron";
@import "namecards";

body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-display: pink;
}
//$body-bg: black;

// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";
.h1 {
  font-family: 'Faster One', cursive;
}
.footer {
  color: pink;
}
