// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

@import url('https://fonts.googleapis.com/css?family=Faster+One|Libre+Barcode+39|Roboto|Sarpanch:700&display=swap');

/* bootstrap */
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";



// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins"; 

// Import partials
@import "nav";
@import "jumbotron";
@import "namecards";
@import "mediaobject";
@import "tour";

body {
  background-color: #030303;
  white-space: none;
  font-family: 'Roboto Mono', monospace;
  color: rgb(240, 109, 131);
  font-weight: bold;
  background-clip: black;
  // scroll-padding-left: 20px;
}
//$body-bg: black;

// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

h2 {
  font-family: 'Sarpanch', sans-serif;
  font-size: 40px;
  color: lightblue;
}


h3 {
  font-family: 'Sarpanch', sans-serif;
  font-size: 16px;
  color: lightblue;
}

h4 {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  color: lightblue;
}

.imgspace {
  margin-bottom: 20px;
  max-height: 400px;
}

p {
  // color: yellow;
  background: repeating-linear-gradient(lightblue, yellow, lightblue);
  background-clip: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}

a {
  color: yellow;
  background-clip: black;
}

a:hover {
  text-decoration: none;
  color:lightblue;
}


// #objecttborder {
  // border-color: red;
  // border-width: 3px;
// }


img {
  border-radius: 8px;
  border-width: 3px;
  border: 2px solid rgb(240, 109, 131);
  max-height: 600px; 
  max-width: 600px; 
  resize: 60%;
}

.introtext {
  margin-top: 20px;
}


footer {
  margin-top: 60px;
  color: rgb(240, 109, 131);
}



