// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

@import url('https://fonts.googleapis.com/css?family=Faster+One|Libre+Barcode+39|Roboto|Sarpanch:700&display=swap');

/* bootstrap */
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";



// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins"; 

// Import partials
@import "nav";
@import "jumbotron";
@import "namecards";
@import "mediaobject";

body {
  background-color: rgb(3, 3, 3);
  font-family: 'Roboto Mono', monospace;
  color: rgb(240, 109, 131);
  font-weight: bold;
  // scroll-padding-left: 20px;
}
//$body-bg: black;

// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";
h3 {
  font-family: 'Sarpanch', sans-serif;
  font-size: 16px;
}

h4 {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}

p {
  color: yellow;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}

// #objecttborder {
  // border-color: red;
  // border-width: 3px;
// }

footer {
  margin-top: 60px;
  color: rgb(240, 109, 131);
}
